html {
  height: 100%;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: default;
  background-color: #000;
  font-family: "Titillium Web", "Helvetica Neue", sans-serif;
  font-size: 1em;
  user-select: none;
  line-height: 1.5em;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-image: url("/media/assets/backgrounds/nature.webp");
  background-attachment: fixed;
  background-size: cover;
  letter-spacing: 0.025em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.bgblue,
.blue-box {
  background: rgba(61, 65, 70, 0.82);
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

h1, h2 {
  color: #ffa500;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

a {
  color: #ffa500;
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
}
ul li, ol li {
  text-align: left;
  margin: 0.5em 0 0 0;
}

.hidden {
  display: none !important;
}

.center {
  text-align: center;
}

body {
  padding: 0;
  background-image: url("/media/assets/backgrounds/home.webp");
}

.content {
  color: #fff;
  background: linear-gradient(170deg, transparent, rgb(0, 0, 0) 40%);
  border-top: 0;
  padding: 0;
}
.content .inner-content {
  padding: 20em 5em 5em 5em;
}
.content .inner-content-inverted {
  padding: 5em 5em 20em 5em;
}
.content .center-image-round {
  text-align: center;
}
.content .center-image-round img {
  border-radius: 10px;
  border: 1px solid #fff;
}
.content .pad-top {
  padding-top: 2em;
}

h1 {
  margin-top: 2em;
}

h2 {
  margin-top: 1.5em;
}

.button,
button {
  cursor: pointer;
  text-align: center;
}

select,
input {
  border: solid 2px #e5e6e7;
}

textarea,
.button,
input,
select,
button {
  border: 0;
  display: inline-block;
  height: 3.5em;
  border-radius: 0.5em;
  line-height: 3.5em;
  outline: 0;
  padding: 0 2em 0 2em;
  text-decoration: none;
  background-color: #fff;
  width: 100%;
  color: #39454b;
}

.button,
button {
  color: #fff;
  background-color: #98c593;
  overflow: hidden;
  text-align: center;
}
.button:hover, .button:active,
button:hover,
button:active {
  background-color: #a8cea4;
}

.tournament-result th {
  text-align: left;
  color: #ff0;
  text-transform: uppercase;
}
.tournament-result table {
  border-bottom: 1px solid #ffa500;
}
.tournament-result table:last-of-type {
  border-bottom: 0;
}