

.bg-nature, .bgnature
{
    background: url("/media/assets/backgrounds/nature.webp") no-repeat center center fixed;
}

.bg-game
{ 
    background: url("/media/assets/backgrounds/eagle.webp") no-repeat center center fixed;
    background-size: cover;
}
