#deck_card_view {
    position: relative;
    padding: 20px;
    left: 0;
    top: 0;
}

#deck_card_view img {
    width: 350px;
    border-radius: 0px;
    background-color: transparent;
    border: 0px;
    box-shadow: 0px 0px 0px 0px #000;
    margin: 2px;
}
.pos-fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 300;
}
body {
    background: black;
    padding-top: 100px;
}

body form {
    margin: 0;
}