.preview-container div
{
    position: fixed;
    z-index: 1001;
    max-height: 50%;
    height: 100%;
}

.preview-container img {
    height: 100%;
    border-radius: 5px;
}

.preview-left { left: 45px; }
.preview-bottom { bottom: 10px; }
.preview-top { top: 10px; }
.preview-right { right: 10px; }

.mapwindow .preview-container img {
    width: 100%;
    max-width: 450px;
    height: auto !important;
}

.mapwindow .preview-top { top: 120px; }
.mapwindow .preview-right { right: 225px; }

.on-drag-event-generic .preview-container { display: none; }