.preview-container div
{
    position: fixed;
    z-index: 1001;
    height: 60%;
}

.preview-container img {
    height: 100%;
    border-radius: 5px;
}

.preview-zoom .preview-container img {
    height: 100%;
    max-width: 420px;
    max-height: 800px;
}

.preview-left { left: 10px; }
.preview-bottom { bottom: 10px; }
.preview-top { top: 10px; }
.preview-right { right: 10px; }

.on-drag-event-generic .preview-container { display: none; }