.preview-container div
{
    position: fixed;
    z-index: 1001;
    max-height: 50%;
    height: 100%;
}

.large-preview .preview-container div
{
    max-height: 60%;
}

.preview-container img {
    height: 100%;
    border-radius: 5px;
}

.preview-left { left: 45px; }
.preview-bottom { bottom: 10px; }
.preview-top { top: 10px; }
.preview-right { right: 10px; }

.mapwindow .preview-container img 
{
    width: auto !important;
    max-height: 90%;
}

.mapwindow .preview-top { top: 120px; }
.mapwindow .preview-right { right: 225px; }

.mapwindow .preview-right.preview-top
{
    max-height: 90%;
    height: 90%;
    bottom: 20px;
}

.on-drag-event-generic .preview-container { display: none; }