
#result table {
    width: 100%;
    max-width: 800px;
    margin-left: 5px;
}

#result .image {
    margin-right: 5px;
    width: 300px;
    height: 430px;
}

#result img.preview {
    width: 100%;
    max-height: 100%;
    background: url("/data/backside") 0 0 no-repeat;
    background-size: contain;
}
body.addtodeck #result img.preview {
    width: 200px;
}

@media only screen and (min-width: 1500px) {

    #result .image {
        margin-right: 5px;
        width: 450px;
        height: auto;
    }
}

body.addtodeck .list_left { margin-left: 230px }

body.addtodeck #result .image {
    width: 200px;
    height: 282px;
}

.decklist-action-move
{
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: 16px 16px;
    background-position: 0 1px !important;
    background-size: 16px 16px !important;
}


.empty_result {
    padding: 30px;
    text-align: center;
    font-size: 30px;
    width: 50%;
    margin: 30px auto;
    color: #fff;
}

span.builder-white { color: #fff !important; font-weight: bold;}

.decklist .no-pad-top { padding-top: 0; }


#notifications {
    padding: 0px;
}