

.arda-hand-wrapper {position: fixed;right: 5px;top: 50%;transform: translateY(-50%);}

.arda-hand-container { text-align: right; margin-bottom: 5px; }
.arda-hand-container i { cursor: pointer; color: #ffa500; padding: 5px; min-width: 20px; text-align: center; }
.arda-hand-container i:hover { color: #fff; }

.arda-card-hands {
    position: fixed;
    right: 10px;
    z-index: 400;
    padding: 5px;
    max-width: 400px;
    min-width: 200px;
    min-height: 84px;
    overflow-y: auto;
    max-height: 200px;
}

div#arda_characters_hand { top: 100px; }
div#arda_minors_hand { top: 220px; }
div#arda_mps_hand { bottom: 10px; }

.arda-card-hands-sizer {
    color: #fff;
    font-size: 10px;
    padding: 5px 10px;
    text-align: right;
}

.arda-card-recycle {
    display: block;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.arda-hand-card-actions-fl {
    float: left;
}

.arda-hand-card-actions-fl::after {
    clear: both;
}
.arda-card-hands-sizer strong { color: #ffa500; }

.arda-inline { display: inline-block}
.arda-card-hands .arda-card-hand,
.arda-card-hands .card-hand {
    display: inline-block;
    position: relative;
    width: 60px;
    min-height: 60px;
}

.arda-actions img {
    border: 1px solid #000;
    width: 20px;
    position: absolute;
    cursor: pointer;
    right: 5px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.arda-actions img:nth-child(1) { bottom: 10px; }
.arda-actions img:nth-child(2) { top: 10px; }
.arda-actions img:hover  { background-color: #ffa500; }

.arda-card-draw
{
    display: block;
    height: 40px;
    width: 60px;
    cursor: pointer;
    margin-top: 4px;
    background: url("/media/assets/images/icons/icon-draw.png") 0 -0 no-repeat;
}
.arda-card-draw:hover { background: url("/media/assets/images/icons/icon-draw-hover.png") 0 0 no-repeat; }