
body {
      
  background: url("/media/assets/images/poster_home.png"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;


  line-height: 1.75em;
  color: #fff;
  letter-spacing: 0.025em;


}

body, p
{
  font-family: "Titillium Web", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 14.4px;
  font-stretch: 100%;
}

.center { text-align: center;}

input, button
{
  padding: 0.65em 0.75em;
  border-radius: 5px;
  outline: none;
  display: inline;
  text-decoration: none;
}


input[type="text"] 
{
  color: #39454b;
  border: solid 2px #e5e6e7;
  width: 250px; 
}

button 
{
  text-align: center;
  background-color: #98c593;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  line-height: 20px;
}

button:hover
{
  background-color: #65bd5b;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
}

h1, h2 {
  text-transform: uppercase;
  color: #ffa500;
}

p {
  color: #fff;
}

.hidden {
  display: none;
}

a, a:active, a:visited {
  color: #ff0;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover { color: #ffa500; }

body .navigation
{
  position: fixed;
  right: 0;
  top: 0;
  text-align: 0;
  margin: 0;
  padding: 5px 10px;
  font-size: 10px;
}