

.help-wrapper,
.lobby-wrapper {
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
    z-index: 200;
    padding: 5px;
    color: white;
    overflow: hidden;
    text-align: center;
}
.help-wrapper
{
    top: 70px;
}

.lobby-wrapper {
    top: 100px;
}

.help-wrapper:hover i,
.lobby-requests i:hover,
.lobby-wrapper:hover i {
    color: #ffa500;
}

.lobby-requests
{
    position: fixed;
    left: 50%;
    padding: 50px;
    z-index: 501;
    color: #fff;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lobby-overlay { z-index: 500; }

.lobby-requests h3 { margin-top: 0; color: #ffa500}

.lobby-requests i { cursor: pointer; margin-right: 10px;}

