

.lobby-wrapper {

    z-index: 200;
    left: 5px;
    width: 20px;
    height: 20px;
    padding: 5px;
    top: 75px;
    position: absolute;
    color: white;
    overflow: hidden;
}

.lobby-requests i:hover,
.lobby-wrapper i:hover {
    color: #ffa500;
}

.lobby-requests
{
    width: 500px;
    position: fixed;
    left: 200px;
    padding: 20px;
    z-index: 301;
    color: #fff;
    top: 200px;
}

.lobby-requests h3 { margin-top: 0; color: #ffa500}

.lobby-requests i { cursor: pointer; margin-right: 10px;}