html, body {
    font-family:Arial;  
}
body
{
    background: #000 !important;
}

#map_view_layer_loading
{
    margin-top: 100px;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    display: block;
}

.blue-box 
{
    background: rgba(39,56,76,0.82);
    box-shadow: 0 0 12px rgba(0,0,0,0.4), inset 0 0 0 1px rgba(255,255,255,0.1);
}

#map {
    position: fixed !important; 
    width: 100% !important; 
    height: 100% !important; 
    top: 0px !important; 
    left: 0px !important; 
    display: block;
}

.mapview { text-align: center;
    width: 100% !important; 
    height: 100% !important; 

}

select,
input { display: block;   }

input { border: 1px solid transparent; margin-bottom: 5px; background-color: #ffffff; }
input.next { border: 1px solid  #ffa500; }

select { margin-bottom: 0.65em; }

table.site_leaflet td { padding: 5px; }
table.site_leaflet td:nth-child(even) { background-color: lightgrey; }


.field {
    width: 280px;
    display: block;
    color: #fff;
}

input,
select,
textarea {
    color: #39454b;
    display: block;
    width: 240px;
    padding: 0.65em 0.75em;
    border: solid 2px #e5e6e7;
    border-radius: 0.5em;
    outline: none;
}

.map-search,
.mapchooser,
#site_movement,
.side-panel-sites-in-region 
{
    position: absolute;
    top: 20px;
}

.side-panel-sites-in-region 
{
    width: 200px;
    right: 20px;
    overflow: auto;
    max-height: 95%;
}

#site_movement { 
    width: auto; 
    right: 240px;
}

.side_panel img { max-width: 80px; margin-right: 2px;  }
.site-list img { height: 80px; }

.fl {float: left;}

.clear { clear: both; }

.cursor-pointer { cursor: pointer; }
.cursor-remove img { cursor: no-drop; }

.padl10 { padding-left: 10px; }

#found_sites { 
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.map-title,
.hide{ display: none !important; }

.card-box {
    padding: 5px;
    margin-right: 5px;
}
.map-action-image { color: #fff; padding: 6px 10px;  text-align: center; font-size: 35px !important; }
.map-action-image:hover { color: #ffa500; }

div.panel-buttons { width: 70px; }
.underdeeps-map div.panel-buttons { width: 50px; }

.map-title { margin: 10px 0;}
.mapchooser {
    right: 20px;
    background: rgba(39,56,76,1);
    padding: 10px 25px 10px 10px;
    z-index: 500;
}

.movement-site-container-hide .movement-site-container,
.movement-site-container-hide #movement_accept { display: none}

#found_sites img { width: 80px; height: 112px; background: url(/data/backside) 0 0 no-repeat;background-size: contain; }

#found_sites img.site-is-tapped {
    opacity: 0.5;
    transform: rotate(180deg);
}

.movement-icon {
    margin-top: 20px;
    margin-right: 5px;
}
.movement-icon img {
    width: 30px;
    margin: 0;
}
.map-search {
    padding: 5px;
    color: #ffa500;
    right: 20px;
    z-index: 501;
}

.caption {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
}

img.map-region-icon {
    filter: drop-shadow(2px 4px 6px black);
}

.colorOrange { color: #ffa500; font-size: 1.1em; }
.mapwindow .preview-container img { min-width: 500px; max-width:  550px !important;}