/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
html {
  height: 100%;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: default;
  background-color: #000;
  font-family: "Titillium Web", "Helvetica Neue", sans-serif;
  font-size: 1em;
  user-select: none;
  line-height: 1.5em;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-image: url("/media/assets/backgrounds/nature.webp");
  background-attachment: fixed;
  background-size: cover;
  letter-spacing: 0.025em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.bgblue,
.blue-box {
  background: rgba(61, 65, 70, 0.82);
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

h1, h2 {
  color: #ffa500;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

a {
  color: #ffa500;
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
}
ul li, ol li {
  text-align: left;
  margin: 0.5em 0 0 0;
}

.hidden {
  display: none !important;
}

.center {
  text-align: center;
}

body {
  background-color: #000;
  color: #fff;
  background-image: url("/media/assets/backgrounds/home.webp");
}
body.lantern {
  background-image: url("/media/assets/backgrounds/forrest.webp");
}

.auth-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 2em;
  background: linear-gradient(130deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.4) 40%, rgb(0, 0, 0) 60%);
}
.auth-box .box-content {
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translateY(-50%) translateX(25%);
  min-width: 50%;
}
.auth-box .box-content .progress-value {
  animation: load 3s normal infinite;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 10%;
}
@keyframes load {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50%;
  }
  50% {
    margin-left: 90%;
  }
  75% {
    margin-left: 50%;
  }
  100% {
    margin-left: 0;
  }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1199.98px) {
  .auth-box {
    left: 0;
  }
}