
#question_box 
{
    z-index: 900;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.question-game {
    color: #fff;
    position: relative;
    min-width: 300px;
    max-width: 550px;
    margin: 200px auto 0 auto;
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.8);
}

.question-game input[type="button"] {
    background-color: #98c593;
    border: 0;
    border-radius: 3.5em;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 3.5em;
    line-height: 3.5em;
    outline: 0;
    padding: 0 2em 0 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}

.question-question {
    padding-left: 140px;
    min-height: 110px;
}

.question-question .question-question-reason
{
    display: block;
    font-size: 2em;
}

.question-hide-cancel {
    display: none !important;
}
.question-icon {
    padding-left: 12px;
    padding-top: 12px;
    float: left;
    font-size: 7em;
    color: #F0C648;
}

.question-game .question-answers {
    padding-left: 140px;
    padding-top: 20px;
}
.question-game h3 { color: #F0C648; }

.question-game input[type="button"]:hover { background-color: #a8cea4; }

.question-game input#q_cancel { background-color: #c32222; }
.question-game input#q_cancel:hover { background-color: #dc2600; }
.question-game .question-answers input { width: 80% !important;}
.question-fake-hide {
    position: absolute;
    left: 0;
    width: 10px;
    height: 20px;
    top: 0;
    opacity: 0;
}