

.game-watch-only .card-bar-play,
.game-watch-only .help-wrapper,
.game-watch-only #playercard-hand-content,
.game-watch-only .taskbar-score,
.game-watch-only .area-player,
.game-watch-only .chattext,
.game-watch-only .arda-hand-wrapper,
.game-watch-only .arda-card-hands
{
    display: none !important;
}

.game-watch-only #playercard_hand
{
    min-height: 50px;
    padding: 0;
    min-width: auto;
    max-width: none;
    bottom: auto;
    top: 35px;
    left: 40px;
}

.game-watch-only #playercard_hand .icons { margin-bottom: 0;}
.game-watch-only #playercard_hand .icon { display: none; }
.game-watch-only #playercard_hand .icon.act { display: inline-block; }
.game-watch-only #playercard_hand .task_overlay { background-color: transparent;}

.game-watch-only .company-characters-add
{
    display: none;
}

.game-watch-only .taskbar.turn-opponent .task_overlay
{
    left: 0;
}

.game-watch-only .area-opponent 
{
    max-height: 90%;
    display: block;
}

.game-watch-only .staging-area
{
    width: 100%;
}

.game-watch-only .visitor-hand-view
{
    text-align: center;
    border-bottom: 2px solid black;
}


.game-watch-only .staging-area,
.game-watch-only .companies,
.game-watch-only .visitor-hand-view,
.game-watch-only .table .row,
.game-watch-only .area-opponent 
{
    display: block !important;
}

.game-watch-only div#opponent_table .company,
.game-watch-only .staging-area-opponent.rot180
{
    transform:rotate(0deg);
}

.game-watch-only div#opponent_table .company
{
    vertical-align: top;
}

.game-watch-only .companies.hidden {
    display: block !important;
    background: rgba(0,0,0,0.1);
}

.game-watch-only .companies:hover {
    background: rgba(255,255,255,0.1);
}

.game-watch-only .chatbox-wrapper
{
    bottom: 5px;
    top: auto;
}

.game-watch-only .company-host,
.game-watch-only .company
{
    height: auto !important;
}

.game-watch-only .chatbox { height: 20px; }

.game-watch-only .icons a.victory,
.game-watch-only .icons a.hand 
{
    height: 20px;
    width: 50px;
    margin-bottom: 10px;
    background-position-y: 0;
    background-position-x: center;
}

.game-watch-only .card-bar.card-bar-shared
{
    height: 190px;
}

.game-watch-only .scoring-sheet.final-score.final-score-watch  .button
{
    display: block !important;
}
.game-watch-only .staging-area .fr { float: left; }
.game-watch-only .visitor-hand-view .card-hand
{
    display: inline-block;
    margin-right: 1px;
}

.game-watch-only .visitor-hand-view::before {
    content: 'Hand Cards';
    display: block;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    color: #ff0;
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 5px 2px;
    z-index: 901;
}