# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

data/cards-raw.json
data/config.json
data/test
data/decks
data/card-images
data/map-positions.json

media/maps/*

pages/rules-*.html
keepalive.js

plugins/namelist.json
data-local/
data-gccg
data-images