# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

public/media/maps/*
public/media/personalisation/*.css

pages/rules-*.html

data-local/cards-full.json
data-local/map-positions-full.json

plugins/authentication-file.js
plugins/authentication-login.html

logs/
public/client

temp.js
.scannerwork
sonar-project.properties