@import "../base.scss";

body {
    padding: 0;
    background-image: url("/media/assets/backgrounds/home.webp");
}

.content {
    color: $color-white;
    background: linear-gradient(170deg, transparent, rgba(0, 0, 0, 1) 40%);
    border-top: 0;
    padding: 0;

    .inner-content {
        padding: 20em 5em 5em 5em;
    }

    .inner-content-inverted {
        padding: 5em 5em 20em 5em;
    }

    .center-image-round {
        text-align: center;

        img { 
            border-radius: 10px;
            border: 1px solid #fff;
        }
    }

    .pad-top {
        padding-top: 2em;
    }
}

h1 {
    margin-top: 2em;
}

h2 {
    margin-top: 1.5em;
}

@import "forms.scss";

.tournament-result {

    th {
        text-align: left;
        color: $color-yellow;
        text-transform: uppercase;
    }

    td { padding-left: 10px; }

    table {
        border-bottom: 1px solid $color-orange;
        &:last-of-type {
            border-bottom: 0;
        }
    }

    .result-table-invalid th { color: #e36666;}
}