
.button,
button
{
    cursor: pointer;
    text-align: center;
}

select,
input {
    border: solid 2px #e5e6e7;
}

textarea,
.button,
input,
select,
button {
    border: 0;
    display: inline-block;
    height: 3.5em;
    border-radius: 0.5em;
    line-height: 3.5em;
    outline: 0;
    padding: 0 2em 0 2em;
    text-decoration: none;
    background-color: $color-white;
    width: 100%;
    color: #39454b;
}

.button,
button {

    color: $color-white;
    background-color: #98c593;
    overflow: hidden;
    text-align: center;
    &:hover,
    &:active{
        background-color: #a8cea4;
    }

}