.room-image-wrapper 
{
    position: relative;

    .room-image {
        position: absolute;
        left: 0;
        top: 0;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #000;

        &.room-image-top {
            top: -40px;
        }

        img {
            position: absolute;
            left: -10px;
            top: 5px;
            width: 150px;
            scale: 1.4;
        }
    }

    .room-text {
        margin-left: 140px;
        min-height: 110px;
    }
}