
@media screen and (max-width: 500px) {
body {
    .card-bar {
        top: auto;

        a.icon { display: inline-block;}
    }

    .card-bar,
    .player-selector-box { 
        position: relative !important;
        top: auto !important;
    }

    .chatbox { left: 5px; right: 5px; width: auto !important; }
    
    #visitor-wrapper,
    .config-wrapper-game,
    #lobby-wrapper { top: 66px !important;}
    #lobby-wrapper { left: 30px !important; }
    .config-wrapper-game {  left: 90px !important; }
    #visitor-wrapper { left: 60px; }
    #playercard-hand-content { background-color: #000;}

    .staging-area
    {
        display: block !important;
        width: 100% !important;
        min-height: 100px !important;
        max-width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        position: relative;
    }

    .table {
        height: auto; min-height: 0.5vh;
        padding-top: 100px;

        .row {
            margin: 0 !important;
        }
        .companies {
            display: block !important;
            padding: 0 20px;
        }

        .location-icon-image {
            visibility: visible !important;
        }
    } 

    .companies .company { border-top: 2px dotted #efefef;
        &.nonEmptyContainer {
            min-width: 40% !important;
        }
    }
    .company-host, .company { padding-right: 0 !important;}

    &.on-drag-event-hazard .staging-area-drop,
    &.on-drag-event-resource .staging-area-drop {
        display: block !important;
        position: fixed !important;
        width: 50px !important;
        height: 50px !important;
        top: 400px !important;
        right: 0px !important;
        left: auto;

        &::before {
            color: #fff;
            content: "Events";
        }
    }

    &.on-drag-event-generic {
        .card-bar.card-bar-play .icons #icon_bar_discardpile,
        .card-bar.card-bar-play .icons #icon_hand {
            position: fixed;
            right: 0;
            left: auto;
        }
        .card-bar.card-bar-play .icons #icon_hand {
            bottom: 150px;
        }
        .card-bar.card-bar-play .icons #icon_bar_discardpile {
            bottom: 250px;
        }
    }

    div#staging-area-player:before {
        position: fixed;
        left: auto;
        top: 390px;
        right: 0px;
    }

    .companies .create-new-company
    { 
        position: fixed;
        display: block !important;
        right: 0;
        left: auto;
        height: 145px;
        top: 300px;
        max-height: 145px !important;
        width: 50px !important;
    }

    .card-hands {
        position: relative !important;
        left: auto;
        bottom: auto;
        padding: 5px;
        max-width: 90%;
        min-width: auto;
        min-height: auto;
    }

    .playercard-hand-container {

        .card-hand {
            margin-left: 0 !important;
        }
    }

    .table .area-player.table-padding-bottom { padding-bottom: 0 !important;}

    .area-player::after {
        display: none !important;
    }

    .view-card-list-container {
        left: 5%;
        top: 5%;
        right: 5%;
        bottom: 5%;
        background-color: #000;
    }

    .hand-card-actions { position: absolute; }

    .scoring-sheet-ingame {
        position: relative !important;
        table { width: 100%; }
    }

    #dices-panel-content,
    #config-panel {
        left: 5% !important;
        top: 5% !important;
        right: 5%;
        background: #000;
    }

    .scoring-sheet {

        .view-score-victory-container,
        .view-score-container {
            position: relative;
            left: 0;
            top: 0;
        }

        .view-card-list-container {
            position: relative;
            left: 0;
            top: 0;
            width: auto;
        }
    }  

    .preview-container 
    {
        .preview-top{
            top: 5px !important;
        }
        .preview-bottom{
            bottom: 5px !important;
        }
        .preview-bottom
        .preview-right,
        .preview-left,
        .preview-top {
            
            left: 5px;
            right: 5px;
            height: auto !important;
            bottom: auto;
            max-width: 100% !important;
            img {
                width: auto;
                max-height: 40%;
                height: auto;
                position: fixed;
            }
        }
    }

    &.mapwindow {
        .preview-container 
        {
            display: none !important;
        }
    }

    #contextmenu
    {
        position: fixed;
        left: 10%;
        right: 10%;
        top: 10%;
        background-color: #000;
    }

    &.on-drag-event-generic .mobile-action-area
    {
        display: block;
    }

    .taskbar-pin {
        display: inline-block !important;
        color: #fff;

        &:hover {
            color: #F0C648;
        }
    }

    &.taskbar-pin-pin
    {
        .taskbar-pin {
            color: #F0C648;
        }
    
        #playercard_hand {
            position: fixed !important;
            left: 0;
            bottom: 0;
            z-index: 500;
        }
    }
}
}

body.force-mobile-helper
{
    &.on-drag-event-generic .mobile-action-area
    {
        display: block;
    }
    
    .location-icon-image {
        visibility: visible !important;
    }
}

.mobile-action-area {
    position: fixed;
    right: 0;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 3px dashed #000 !important;
    border-radius: 5px !important;
    font-size: 3em;
    color: #F0C648;
    text-align: center;
    padding: 5px;
    width: 50px;
    height: 50px;
    display: none;

    &.mobile-action-area-leftclick
    {
        top: 100px;
    }
    
    &.mobile-action-area-rightclick
    {
        top: 170px;
    }
}

body .taskbar-pin {
    display: none;
}