.chanage-avatar-app 
{
    max-width: 80%;
    max-height: 80%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: #ebe9df;

    img {
        width: 200px;
        border-radius: 5%;
        margin-right: 10px;
        margin-bottom: 10px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover
        {
            scale: 1.2;
        }
    }

    &::backdrop 
    {
        background-color: #000;
        opacity: 0.75;
    }
}