
#view_card_list_container
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
    cursor: pointer;

    visibility: visible;
    opacity: 1;

    transition: all 0.3s ease-in-out;

    .view-card-list-container
    {
        scale: 1;
        transition: all 0.2s ease-in-out;
    }

    &.hidden {

        display: block !important;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s ease-out 0.3s, opacity 0.3s ease-out, scale 0.3s ease-in-out;

        .view-card-list-container {
            scale: 0;
        }
    }
}

.view-card-list-container 
{
    position: fixed;
    left: 15%;
    top: 15%;
    right: 15%;
    bottom: 15%;
    overflow-y: auto;
    padding: 15px;
    z-index: 1001;

    .container-title-bar {
        padding-bottom: 10px;
        color: #ff0;
        font-size: 12px;
        cursor: default;

        .container-title-bar-shuffle
        {
            cursor: pointer;
            visibility: hidden;

            &:hover{
                color: #F0C648;
            }
        }
    }

    img.card-icon {
        width: auto;
        height: 150px;
    }
    
    .card-hand {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        min-width: 107px;
        min-height: 153px;

        transition: all 0.2s ease-in;

        &:hover {
            scale: 1.2;
        }
    }
    
    .view-card-list-actions { 

        &.icons
        {
            padding: 5px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        a 
        {
            width: 21px;
            height: 21px;
            display: inline-block;
            border-radius: 5px;
            background-position-y: 0 !important;
            background-color: rgba(0,0,0,0.6) !important;
        }
    }

    .card-list-number {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #ff0;
        color: #000;
        border-radius: 4px;
        padding: 0.3em;
    }

    a,
    a:hover
    {
        background-size: contain !important;   
    }

    &.view-playdeck
    {
        cursor: default;
        .container-title-bar-shuffle
        {
            visibility: visible !important;
        }
    }

    .icons a.onoffer { display: none; }
    
    &.offered 
    {
        .icons a { display: none; }
        .container-title-bar { visibility: hidden; }
    }
        
    &.offer {
        .hideOnOffer { visibility: hidden; }

        .icons a {
            display: inline-block;
            
            &.hand,
            &.sideboard { display: none; }
        }
        
        img {
            &.card-icon { opacity: 0.4; }
            &.on-offer-orevealed { opacity: 1; }
        }
        
    }

    &.view-sideboard .card-hand a.sideboard,
    &.view-hand.offer .card-hand a.hand,
    &.view-discard .card-hand a.discardpile,
    &.view-playdeck .card-hand a.playdeck,
    &.view-playdeck .card-hand a.playdeck-shuffle
    {
        display: none;
    }

    &.view-outofplay 
    {
        .container-title-bar-divider,
        .container-title-bar-reveal,
        .view-card-list-actions {
            display: none !important;
        }
    }

}


#view-score-sheet-card-list {
    .container-data { padding: 10px; }
    .card-hand {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        min-width: 107px;
        min-height: 153px;
    }
}



.reveal-to-self {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 401;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;

    .reveal-to-self-content {
        position: fixed;
        border-radius: 5%;
        background-color: #000;
        z-index: 402;

        top: 50%;
        left: 50%;
        max-width: 50%;
        max-height: 50%;
        transform: translate(-50%, -50%);
        
        padding: 20px;
        text-align: center;

        p { color: #fff; }
        .card-hand { 
            display: inline-block; padding: 10px;
            img {
                height: 200px;
            }
        }
    }
}
