
.zoom-1,
.zoom-2 {

    .company-character-reosurces {

        .card
        {
            margin-top: -105px;
        }
    }
    
    .card-hands,
    .arda-card-hands
    {
        .card-hand img.card-icon {
            height: 80px !important;
        }

    }
    

}

.zoom-1 {

    .company-site-list,
    img.card-icon {
        height: 130px;
    }

    .view-card-list-container img.card-icon {
        height: 185px;
    }

    .staging-area {
        min-width: 100px;
        max-width: 170px;       
    }

    .table-stage-stacking {
        .staging-area-area {
            div.card {
                margin-top: -90px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    .row div.card { 
        max-width: 94px;

        &.state_tapped {
            max-width: 130px;
        }
    }

    .company-character-reosurces {
        min-height: 130px;
    
        // this is the size of the stacked cards and the contianer width
        &[data-stack-size="1"] {
            width: 110px
        }
    
        &[data-stack-size="2"] {
            width: 125px
        }
    
        &[data-stack-size="3"] {
            width: 140px
        }
    
        &[data-stack-size="4"] {
            width: 155px
        }
    
        &[data-stack-size="5"] {
            width: 170px
        }
    
        &[data-stack-size="6"] {
            width: 185px
        }
    
        &[data-stack-size="7"] {
            width: 200px
        }
    
        &[data-stack-size="8"] {
            width: 225px
        }
    
        &[data-stack-size="9"] {
            width: 240px
        }
    
        &[data-stack-size="10"] {
            width: 255px
        }
    
        &[data-stack-size="11"] {
            width: 270px
        }
    
        &[data-stack-size="12"] {
            width: 285px
        }
    }     
}

.zoom-2 {

    .company-site-list,
    img.card-icon {
        height: 150px;
    }
}

img.card-icon {
    height: 100px;
}

.company-character-reosurces {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    .card {
        margin-top: -80px;
        z-index: 101;

        &:nth-child(1) {
            transform: translateX(0px) translateY(0px);
            margin-top: 0;
        }

        &:nth-child(2) {
            transform: translateX(15px);
        }

        &:nth-child(3) {
            transform: translateX(30px);
        }

        &:nth-child(4) {
            transform: translateX(45px);
        }

        &:nth-child(5) {
            transform: translateX(60px);
        }

        &:nth-child(6) {
            transform: translateX(75px);
        }

        &:nth-child(7) {
            transform: translateX(90px);
        }

        &:nth-child(8) {
            transform: translateX(105px);
        }

        &:nth-child(9) {
            transform: translateX(122px);
        }

        &:nth-child(10) {
            transform: translateX(137px);
        }

        &:nth-child(11) {
            transform: translateX(152px);
        }

        &:nth-child(12) {
            transform: translateX(167px);
        }

        &:nth-child(13) {
            transform: translateX(182px);
        }

        &:nth-child(14) {
            transform: translateX(197px);
        }
    }

    // this is the size of the stacked cards and the contianer width
    &[data-stack-size="1"] {
        width: 87px
    }

    &[data-stack-size="2"] {
        width: 102px
    }

    &[data-stack-size="3"] {
        width: 117px
    }

    &[data-stack-size="4"] {
        width: 132px
    }

    &[data-stack-size="5"] {
        width: 147px
    }

    &[data-stack-size="6"] {
        width: 162px
    }

    &[data-stack-size="7"] {
        width: 177px
    }

    &[data-stack-size="8"] {
        width: 192px
    }

    &[data-stack-size="9"] {
        width: 207px
    }

    &[data-stack-size="10"] {
        width: 222px
    }

    &[data-stack-size="11"] {
        width: 237px
    }

    &[data-stack-size="12"] {
        width: 252px
    }
}

.config-zoom {
    position: absolute;
    top: 100px !important;
    color: #fff;
    padding: 7px;

    display: none;
}
