.chatbox {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 150px;
    height: 45px;
    font-size: 0.65em;
    color: #fff;
    display: block;
    padding: 0.65em 0.75em;
    outline: none;
    overflow-y: hidden;
}
.chatbox:hover {
    height: auto;
    max-height: 50%;
    width: 50%;
    overflow-y: auto;
    background: #000;
    z-index: 401;
    font-size: 1.5em;
    line-height: 1.2em;
}
.chatbox div { line-break: normal;  }
.chatbox span { font-size: 0.8em; padding-right: 3px;}
.chatbox b { color: #ffa500; }
#chatbox.hide { visibility: hidden; }