.score-overlay {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 300;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.scoring-card {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 101;
}
.scoring-card img {
  max-width: 300px;
  max-height: 300px;
  margin: 0 20px;
}
.scoring-card .view-score-container h2 {
  text-align: center;
  color: #ffa500;
}
.scoring-card select.req {
  border: 2px solid red;
  animation: scoreGlowRed linear 1s 1 forwards;
}
.scoring-card .score-type {
  width: 200px;
  float: left;
  text-align: left;
  color: #fff;
  line-height: 1.5em;
}
.scoring-card .score_label {
  cursor: pointer;
}
.scoring-card .score_label:hover {
  background-color: rgba(255, 165, 0, 0.5);
  border-radius: 5px;
}
.scoring-card .score_label label,
.scoring-card .score_label input {
  cursor: pointer;
}

.scoring-sheet .text-right {
  text-align: right;
}
.scoring-sheet .view-score-container {
  top: 5px;
  right: 5px;
  position: fixed;
  font-size: 14px;
  padding: 10px;
  z-index: 600;
  background: rgba(0, 0, 0, 0.8);
}
.scoring-sheet .dice-stats th,
.scoring-sheet .dice-stats td {
  padding: 0 5px;
  text-align: center;
}
.scoring-sheet .dice-stats td {
  padding: 2px 3px;
}
.scoring-sheet .dice-stats th:nth-child(even),
.scoring-sheet .dice-stats td:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
}
.scoring-sheet table {
  color: white;
  width: 100%;
  font-variant-caps: small-caps;
}
.scoring-sheet table.dice-stats {
  margin-top: 20px;
  font-size: 0.8em;
}
.scoring-sheet table td {
  text-align: center;
}
.scoring-sheet table td span {
  display: inline-block;
  width: 20px;
}
.scoring-sheet table th {
  padding-right: 10px;
}
.scoring-sheet table thead th {
  border-bottom: 1px solid white;
}
.scoring-sheet table tfoot tr.score-total th {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.scoring-sheet table tfoot tr.score-total th.score-total {
  text-align: center;
}
.scoring-sheet table tfoot tr:last-child th {
  padding-top: 10px;
}
.scoring-sheet table tbody th {
  font-weight: normal;
  text-align: left;
}
.scoring-sheet table a {
  padding: 5px;
  display: inline-block;
}
.scoring-sheet.final-score .view-score-container {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 1.1em;
}
.scoring-sheet.final-score .view-score-container .return-to-lobby a {
  display: block !important;
  text-transform: uppercase;
  color: #ff0;
  font-size: 0.8em;
}
.scoring-sheet.final-score .view-score-container .return-to-lobby a:hover {
  color: #ffa500;
}
.scoring-sheet.final-score .menu-overlay {
  z-index: 500;
  cursor: default;
}
.scoring-sheet.final-score a,
.scoring-sheet.final-score .button {
  display: none !important;
}

.scoring-card .view-score-container {
  position: relative;
  margin: 0 auto;
  min-width: 300px;
  top: 30%;
  padding: 20px;
  z-index: 502;
  display: inline-block;
}

.scoring-sheet .button,
.scoring-card .button {
  border: 0;
  border-radius: 3.5em;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 3.5em;
  line-height: 3.5em;
  outline: 0;
  padding: 0 2em 0 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  background-color: #a8cea4;
}

.view-score-victory-container {
  position: fixed;
  left: 5%;
  top: 5%;
  max-height: 500px;
  z-index: 500;
}
.view-score-victory-container .view-card-list-container {
  max-height: 500px;
  width: 67%;
  overflow: auto;
  left: 5%;
  top: 5px;
  transform: none;
  bottom: auto;
}
.view-score-victory-container .container-title-bar-title {
  padding: 5px;
  padding-top: 10px;
  text-align: center;
}

#scoring-sheet input.buttonCancel {
  background-color: #c32222;
}
#scoring-sheet input.buttonCancel:hover {
  background-color: #dc2600;
}
#scoring-sheet table {
  border-spacing: 0;
}
#scoring-sheet table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#scoring-sheet table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
#scoring-sheet .view-card-list-container a {
  background-size: 20px 20px !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  background-position-y: 0;
}

#scoring-sheet .view-card-list-container a,
#scoring-sheet .view-card-list-container a:hover {
  background-size: 20px 20px !important;
}

@keyframes scoreGlowRed {
  0% {
    box-shadow: 0 0 10px -10px #9b0404;
  }
  50% {
    box-shadow: 0 0 10px 10px #9b0404;
  }
  99% {
    box-shadow: 0 0 10px -10px #9b0404;
  }
  100% {
    box-shadow: none;
  }
}