
#notifications {
    position: fixed;
    top: 60px;
    left: 50%;
    z-index: 600;
    transform: translateX(-50%);
}

.notify
{  
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 55%);
    border-radius: 3px;
    padding: 20px;
    font-size: 1.2em;
    color:#f0f0f0;  
    width:300px;
    box-sizing:border-box;
    text-align:left;
    overflow:hidden;
    box-sizing:border-box;
    position: relative;
    margin-bottom: 20px;
    
}

.notification-text { display: flex; }
.notification-text span { padding-left: 10px; }
.notification-line-countdown-10s,
.notification-line-countdown 
{   
    animation: notification-line 3s linear forwards;
    height: 2px;
    background: white;
    width: 1%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.notification-line-countdown-10s
{
    animation: notification-line 10s linear forwards;
}
.notification-line-countdown 
{
    animation: notification-line 3s linear forwards;
}


.success { background: #6eb566; }
.failure{ background: #e36666; }
.info { background: #ffe891; color: #000; }

@keyframes notification-line {
    from { width: 0%; }
    to { width: 100%; }
}
