
.player_selector { padding: 5px; }
.player_selector span.game_time { font-size: 0.8em; }
#player_selector { display: inline-block; }
.player_selector { height: 20px;  }

.player-selector-box { position: fixed; top: 0px; left: 0px; min-width: 100px; padding: 5px; color: white; z-index: 400; }
.player-selector-box a { display: inline-block;min-width: 10px; color: white; padding-right: 10px; }
.player-selector-box a.cur { color: #ffa500; }
.player-selector-box a.act { font-weight: bold; }
.player-selector-box span { min-width: 20px; min-height: 20px; display: inline-block; border-radius: 5px 40px 5px; }
.player-selector-box span:before { padding-right: 5px; }
.player-selector-box span.indicator-green { background: #BADA55; }
.player-selector-box span.indicator-red { background: #d94f4f;   }
.player-selector-box span.indicator-grey { background: grey; }