#notifications {
    position: fixed;
    top: 60px;
    left: 50%;
    z-index: 600;
    transform: translateX(-50%);
}

.notify
{  
    border-radius: 3px;
    padding: 15px;
    font-size: 1.0em;
    color:#363434;  
    max-width: 80%;
    min-width: 300px;
    overflow:hidden;
    position: relative;
    margin-bottom: 20px;
}

.notification-text { position: relative; }
.notification-text i { position: absolute; }
.notification-text span { padding-left: 25px; display: block;}
.notification-line-countdown-10s,
.notification-line-countdown 
{   
    animation: notification-line 3s linear forwards;
    height: 2px;
    background: white;
    width: 1%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.notification-line-countdown-10s
{
    animation: notification-line 10s linear forwards;
}
.notification-line-countdown 
{
    animation: notification-line 3s linear forwards;
}


.success { background: #6eb566; }
.failure{ background: #e36666; }
.info { background-color: #ffab00; color: #363434; }

@keyframes notification-line {
    from { width: 0%; }
    to { width: 100%; }
}
