html {
  height: 100%;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: default;
  background-color: #000;
  font-family: serif, sans-serif;
  font-size: 1em;
  user-select: none;
  line-height: 1.5em;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100%;
  background-image: url("/media/assets/backgrounds/nature.webp");
  background-attachment: fixed;
  background-size: cover;
  letter-spacing: 0.025em;
}

.background-shade-overlay {
  background-color: rgba(30, 23, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.bgblue,
.blue-box {
  background: linear-gradient(90deg, rgba(35, 35, 35, 0.7) 0%, rgba(35, 35, 35, 0.3) 100%);
  border-radius: 5px;
  transition: background-color 0.4s ease-in-out;
}
.bgblue:hover,
.blue-box:hover {
  background-color: rgba(35, 35, 35, 0.9);
}

h1, h2 {
  color: #F0C648;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

a {
  color: #F0C648;
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
}
ul li, ol li {
  text-align: left;
  margin: 0.5em 0 0 0;
}

.hidden {
  display: none !important;
}

.center {
  text-align: center;
}

select,
input {
  border: solid 2px #e5e6e7;
}

textarea,
.button,
input,
select,
button {
  border: 0;
  display: inline-block;
  height: 3.5em;
  border-radius: 0.5em;
  line-height: 3.5em;
  outline: 0;
  padding: 0 2em 0 2em;
  text-decoration: none;
  background-color: #fff;
  width: 100%;
  color: #39454b;
}

.button,
button {
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #98c593;
  overflow: hidden;
}
.button:hover, .button:active,
button:hover,
button:active {
  background-color: #a8cea4;
}

button.buttonCancel {
  background-color: #c32222;
}
button.buttonCancel:hover {
  background-color: #dc2600;
}

body {
  background-color: #000;
  background-image: url("/media/assets/backgrounds/splash.webp");
}

.auth-box {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 2em;
  background: linear-gradient(130deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.4) 40%, rgb(0, 0, 0) 60%);
}
.auth-box input,
.auth-box button {
  margin: 2em 0 0 0;
  width: 100%;
}
.auth-box .box-content {
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translateY(-50%) translateX(25%);
  min-width: 50%;
  color: #fff;
}