@charset "UTF-8";
html {
  height: 100%;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: default;
  background-color: #000;
  font-family: serif, sans-serif;
  font-size: 1em;
  user-select: none;
  line-height: 1.5em;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-image: url("/media/assets/backgrounds/nature.webp");
  background-attachment: fixed;
  background-size: cover;
  letter-spacing: 0.025em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.bgblue,
.blue-box {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(60, 60, 60, 0.4) 100%);
  border-radius: 5px;
}
.bgblue:hover,
.blue-box:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

h1, h2 {
  color: #F0C648;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

a {
  color: #F0C648;
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
}
ul li, ol li {
  text-align: left;
  margin: 0.5em 0 0 0;
}

.hidden {
  display: none !important;
}

.center {
  text-align: center;
}

select,
input {
  border: solid 2px #e5e6e7;
}

textarea,
.button,
input,
select,
button {
  border: 0;
  display: inline-block;
  height: 3.5em;
  border-radius: 0.5em;
  line-height: 3.5em;
  outline: 0;
  padding: 0 2em 0 2em;
  text-decoration: none;
  background-color: #fff;
  width: 100%;
  color: #39454b;
}

.button,
button {
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #98c593;
  overflow: hidden;
}
.button:hover, .button:active,
button:hover,
button:active {
  background-color: #a8cea4;
}

button.buttonCancel {
  background-color: #c32222;
}
button.buttonCancel:hover {
  background-color: #dc2600;
}

body {
  padding: 0;
  background-image: url("/media/assets/backgrounds/hill.webp");
}

h1 {
  text-align: center;
  padding-top: 2em;
}

h2 {
  font-size: 1.2em;
  padding-top: 1.5em;
}

.ǵame-join-screen .content .inner-content {
  padding-top: 10em;
}

.content {
  color: #fff;
  background: linear-gradient(179deg, transparent, rgb(0, 0, 0) 80%);
  border-top: 0;
  padding: 0;
  min-height: 100vh;
}
.content .inner-content {
  padding: 5em;
}
.content .fields-join input {
  width: 60%;
  display: inline-block;
}
.content .fields-join button {
  width: 30%;
  display: inline-block;
}
.content .arda-text {
  display: block;
  color: #F0C648;
}
.content .arda-text input {
  width: auto;
  height: auto;
}
.content .arda-text label {
  padding: 0 2em 0 0.4em;
  cursor: pointer;
  user-select: none;
  color: #fff;
}
.content .arda-text .label-newline {
  display: block;
}
.content textarea {
  font-size: 1em;
  line-height: 1em;
  padding: 5px;
  height: 5.5em;
}
.content .deck-list .load-deck-file {
  margin-top: 0.5em;
  font-size: 0.9em;
  width: auto;
}
.content details[open] summary {
  color: #F0C648;
}

.deck-list-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.deck-info {
  align-self: center;
  position: relative;
}
.deck-info a {
  color: #FFF;
  background-color: #F0C648;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.deck-info i {
  padding: 5px;
}

.selected-deck-icon {
  position: absolute;
  left: 10px;
  top: 20px;
  display: none;
  background: green;
  border-radius: 50%;
  padding: 5px;
  scale: 2;
}

.challenge-deck {
  padding: 0.3em 0;
  align-self: auto;
  display: grid;
  flex: 0 0 300px;
  grid-template-columns: 100px auto 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.challenge-deck:hover {
  color: #ff0;
  background: rgb(0, 0, 0);
  scale: 1.2;
  z-index: 50;
}
.challenge-deck a {
  color: #fff;
}

.deck-list-entries details {
  border-top: 1px solid;
  margin-bottom: 0.3em;
  padding-top: 0.3em;
}
.deck-list-entries details:first-of-type {
  border-top: 0;
}
.deck-list-entries summary {
  cursor: pointer;
}
.deck-list-entries summary:hover {
  color: #ff0;
}
.deck-list-entries .selected-deck .selected-deck-icon {
  color: #fff;
  display: block;
}
.deck-list-entries .selected-deck a {
  color: #fff;
}
.deck-list-entries .avatar {
  max-width: 100px;
  position: relative;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 25px;
}
.deck-list-entries .avatar img {
  width: 100%;
  scale: 1.7;
  object-position: 0 11px;
}
.deck-list-entries .avatar img.avatar-backside {
  object-position: 0 0;
  scale: 1.5;
}
.deck-list-entries .deck-data {
  padding-left: 10px;
}
.deck-list-entries .deck-data p {
  padding: 0;
}

.converter h2,
h3 {
  font-size: 1em;
  color: #F0C648;
  margin-bottom: 0;
}

.converter input#deckname {
  margin: 2em auto;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #F0C648;
}
.converter .content {
  min-height: 100vh;
}

.game-login .content {
  min-height: auto;
}
.game-login .content h1 {
  padding-top: 1em;
}
.game-login .content .inner-content {
  padding-bottom: 1em;
}
.game-login .deck-edit-details {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 2em;
}
.game-login .deck-edit-details summary {
  cursor: pointer;
}
.game-login .deck-edit-details .fields {
  display: inline-block;
  width: 48%;
  margin-right: 5px;
}
.game-login .deck-edit-details .fields textarea {
  line-height: 1em;
  font-size: 0.9;
  padding: 0;
}
.game-login .deck-edit-details button {
  padding: 0 2em;
  display: inline-block;
  width: auto;
}
.game-login .deck-edit-details summary,
.game-login .cookie_notice {
  color: #fff;
}

.deck-label {
  font-size: 0.8em;
  grid-column: span 3;
  padding: 0 10px;
  text-align: right;
  display: inline-block;
}
.deck-label span {
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px;
}
.deck-label span.deck-label-pink {
  background-color: #dd2cce;
}
.deck-label span.deck-label-red {
  background-color: red;
}
.deck-label span.deck-label-green {
  background-color: green;
}
.deck-label span.deck-label-blue {
  background-color: blue;
}
.deck-label span.deck-label-yellow {
  background-color: yellow;
  color: #000;
}

.deck-filter-list {
  padding: 10px;
  text-align: center;
}
.deck-filter-list .deck-label {
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;
  padding: 5px;
}
.deck-filter-list .deck-label:hover {
  transform: scale(1.2);
}
.deck-filter-list h3 {
  padding-bottom: 10px;
}
.deck-filter-list span {
  cursor: pointer;
}

.deck-grid {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  gap: 10px 10px;
  /* row-gap column gap */
  padding: 0 20px;
}
.deck-grid .deck-list {
  flex: 30%;
}
.deck-grid .deck-fields {
  flex: 65%;
  display: flex;
  flex-flow: row wrap;
  gap: 10px 10px;
  /* row-gap column gap */
  align-items: flex-start;
}
.deck-grid .deck-fields h2 {
  flex: 99%;
}
.deck-grid .deck-fields .fields {
  flex: 30%;
}
.deck-grid h3 {
  text-transform: uppercase;
}

@media (max-width: 540px) {
  .content .fields-join input,
  .content .fields-join button {
    width: 100%;
    display: block;
  }
  .content .fields-join button {
    margin-top: 10px;
  }
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 767.98px) {
  .deck-grid {
    display: block;
  }
  .deck-grid .deck-list,
  .deck-grid .deck-fields {
    display: block;
  }
  .deck-grid .deck-list h2,
  .deck-grid .deck-list .fields,
  .deck-grid .deck-fields h2,
  .deck-grid .deck-fields .fields {
    display: block;
  }
  .label-after {
    display: block;
  }
}
#invalid-cards-info-result {
  user-select: text;
  cursor: auto;
}
#invalid-cards-info-result p {
  margin: 0;
}
#invalid-cards-info-result h3 {
  text-transform: uppercase;
  margin-top: 5px;
}
#invalid-cards-info-result h3:first-of-type {
  margin-top: 0;
}

a.link-replace-invalid-code {
  margin-left: 5px;
  padding: 0 5px;
}
a.link-replace-invalid-code:hover {
  color: #ff0;
}

.loading-line-counter {
  height: 5px;
  background-color: rgba(255, 165, 0, 0.8);
  width: 1%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  animation: loading-line-preload 3s infinite forwards;
}

@keyframes loading-line-preload {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.dialog-autosave::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.deck-view {
  text-align: left;
}
.deck-view h3 {
  text-transform: uppercase;
}
.deck-view img {
  max-height: 200px;
  transition: all 0.3s ease-in-out;
}
.deck-view img:hover {
  scale: 2;
}

dialog {
  color: #fff;
  text-align: center;
  padding: 20px;
  background: rgb(0, 0, 0);
}
dialog button:first-of-type {
  margin-bottom: 1em;
}

.click-to-close {
  cursor: pointer;
}

@media (min-width: 767.98px) {
  .sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #000;
  }
}
@media (max-width: 767.98px) {
  .challenge-deck {
    flex: 0 0 50%;
  }
}
@media (max-width: 575.98px) {
  .challenge-deck {
    flex: 0 0 100%;
  }
}