.navigation-full-width .navigation ul {
  text-align: center;
}
.navigation-full-width .navigation ul li {
  display: inline-block;
  text-align: center;
}
.navigation-full-width .navigation a,
.navigation-full-width .navigation a:active,
.navigation-full-width .navigation a:visited {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
}
.navigation-full-width .navigation a.navigation-active,
.navigation-full-width .navigation a:hover {
  color: #F0C648;
}
.navigation-full-width .content .inner-content {
  padding-top: 1em;
}