html {
  height: 100%;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: default;
  background-color: #000;
  font-family: serif, sans-serif;
  font-size: 1em;
  user-select: none;
  line-height: 1.5em;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-image: url("/media/assets/backgrounds/nature.webp");
  background-attachment: fixed;
  background-size: cover;
  letter-spacing: 0.025em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.bgblue,
.blue-box {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(60, 60, 60, 0.4) 100%);
  border-radius: 5px;
}
.bgblue:hover,
.blue-box:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

h1, h2 {
  color: #ffa500;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

a {
  color: #ffa500;
  text-decoration: none;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
}
ul li, ol li {
  text-align: left;
  margin: 0.5em 0 0 0;
}

.hidden {
  display: none !important;
}

.center {
  text-align: center;
}

body {
  line-height: 1em;
}

html,
body {
  height: 100%;
  overflow: auto;
  box-sizing: content-box;
}

a {
  color: #ffa500;
  text-decoration: none;
}
a:hover {
  color: #ff0;
}

.card-bar.card-bar-shared {
  top: 170px;
  position: absolute;
  max-height: 150px;
}
.card-bar.card-bar-shared .icon {
  font-size: 0.8em;
  padding: 2px 0;
  height: auto;
  width: auto;
}
.card-bar.card-bar-play a {
  background: none !important;
}
.card-bar.card-bar-play .icon {
  font-size: 0.8em;
  padding: 2px 0;
  height: auto;
  width: auto;
}
.card-bar.card-bar-play .icon:hover {
  filter: sepia(100%) brightness(150%);
}
.card-bar.card-bar-play span {
  position: absolute;
  right: 2px;
  bottom: 2px;
}
.card-bar.card-bar-play i {
  position: absolute;
  left: 5px;
  bottom: 5px;
  height: 20px;
  width: 20px;
  background-size: contain;
}
.card-bar a.icon {
  display: block;
  position: relative;
}
.card-bar a.icon i {
  right: 5px;
  bottom: 5px;
  position: absolute;
}
.card-bar .icon-tooltip::after,
.card-bar .icon-shared::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  opacity: 0.9;
  background-color: #000;
  color: #ff0;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.card-bar .icon-shared-out::after {
  content: "Out";
}
.card-bar .icon-shared-victory::after {
  content: "MPs";
}
.card-bar .icon-tooltip-mps::after {
  content: "MPs";
}
.card-bar .icon-tooltip-playdeck::after {
  content: "Deck";
}
.card-bar .icon-tooltip-discard::after {
  content: "Discard";
}
.card-bar .icon-tooltip-sideboard::after {
  content: "Sideboard";
  font-size: 0.78em;
}
.card-bar .icon-tooltip-hand::after {
  content: "Hand";
}
.card-bar .icon {
  max-height: 70px;
  color: white;
  font-size: 12px;
}
.card-bar .icon span.count {
  padding-left: 2px;
}
.card-bar .icon img {
  max-height: 70px;
  border-radius: 5%;
}
.card-bar .icons a.backside {
  background: url("/data/backside") 0 0 no-repeat;
  background-size: 31px 50px !important;
}
.card-bar .deckpile-additional-actions .deckpile-additional-action {
  display: none;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  z-index: 5;
  margin: 0;
  cursor: pointer;
  line-height: 1.5em;
}
.card-bar .deckpile-additional-actions:hover .deckpile-additional-action {
  display: block;
}

.trade-panel.trade-hide-buttons button.trade-accept {
  display: none !important;
}
.trade-panel .config-panel {
  padding-top: 20px;
}
.trade-panel .config-panel button {
  color: #fff;
  margin: 2px;
}
.trade-panel .config-panel button.trade-cancel {
  background-color: #c32222;
}
.trade-panel .config-panel button.trade-cancel:hover {
  background-color: #dc2600;
}
.trade-panel .config-panel button.trade-accept {
  background-color: #98c593;
}
.trade-panel .config-panel button.trade-accept:hover {
  background-color: #a8cea4;
}
.trade-panel .config-panel li a {
  display: block;
  text-align: center;
}
.trade-panel .config-panel.trade-await-reply button {
  visibility: hidden;
}
.trade-panel .config-panel .offered-list {
  min-height: 85px;
  border-bottom: 2px dotted #ffa500;
  text-align: center;
  margin-bottom: 10px;
}
.trade-panel .config-panel .offered-list div {
  display: inline-block;
  margin: 0 3px;
}
.trade-panel .config-panel .offering-list div {
  display: inline-block;
  margin: 0 3px;
  position: relative;
  border: 1px solid transparent;
}
.trade-panel .config-panel .offering-list div.fa {
  border: 1px solid #98c593;
}
.trade-panel .config-panel .offering-list div::before {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #98c593;
  border-radius: 3px;
}
.trade-panel .config-panel .offering-list div img {
  cursor: pointer;
}

.taskbar {
  display: inline-block;
  margin-bottom: 5px;
}
.taskbar .task_overlay {
  display: none;
}
.taskbar.turn-opponent .task_overlay {
  position: absolute;
  left: 45px;
  top: 0;
  bottom: 0;
  right: 0px;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
.taskbar a {
  margin: 5px;
  width: 20px;
  height: 20px;
}
.taskbar a:first-of-type {
  margin-left: 10px;
  margin-right: 10px;
}

.is-admin .taskbar.turn-opponent .task_overlay {
  display: none;
}

.icon {
  width: 32px;
  height: 32px;
  display: block;
}
.icon.bt {
  border-top: 1px solid black;
}
.icon.bb {
  border-bottom: 1px solid black;
}

.icons {
  margin-bottom: 3px;
}
.icons a,
.icons a:hover {
  display: inline-block;
  cursor: pointer;
  background-size: contain !important;
}
.icons a {
  border: 3px solid transparent;
}
.icons .orga {
  background: url("/media/assets/images/icons/icon-orga.png") 0 0 no-repeat;
}
.icons .orga:hover, .icons .orga.act {
  background: url("/media/assets/images/icons/icon-orga-hover.png") 0 0 no-repeat;
}
.icons .taskbar-score {
  background: url("/media/assets/images/icons/icon-score.png") 0 0 no-repeat;
}
.icons .taskbar-score.act, .icons .taskbar-score:hover {
  background: url("/media/assets/images/icons/icon-score-hover.png") 0 0 no-repeat;
}
.icons .startphase {
  background: url("/media/assets/images/icons/icon-game-start.png") 0 0 no-repeat;
}
.icons .startphase.act, .icons .startphase:hover {
  background: url("/media/assets/images/icons/icon-game-start-hover.png") 0 0 no-repeat;
}
.icons .site {
  background: url("/media/assets/images/icons/icon-site.png") 0 0 no-repeat;
}
.icons .site.act, .icons .site:hover {
  background: url("/media/assets/images/icons/icon-site-hover.png") 0 0 no-repeat;
}
.icons .move {
  background: url("/media/assets/images/icons/icon-movement.png") 0 0 no-repeat;
}
.icons .move.act, .icons .move:hover {
  background: url("/media/assets/images/icons/icon-movement-hover.png") 0 0 no-repeat;
}
.icons .eot {
  background: url("/media/assets/images/icons/icon-eot.png") 0 0 no-repeat;
}
.icons .eot.act, .icons .eot:hover {
  background: url("/media/assets/images/icons/icon-eot-hover.png") 0 0 no-repeat;
}
.icons .eotdiscard {
  background: url("/media/assets/images/icons/eot-discard.png") 0 0 no-repeat;
}
.icons .eotdiscard.act, .icons .eotdiscard:hover {
  background: url("/media/assets/images/icons/eot-discard-hover.png") 0 0 no-repeat;
}
.icons .longevent {
  background: url("/media/assets/images/icons/longevent.png") 0 0 no-repeat;
}
.icons .longevent.act, .icons .longevent:hover {
  background: url("/media/assets/images/icons/longevent-hover.png") 0 0 no-repeat;
}
.icons .sideboard {
  background: url("/media/assets/images/icons/icon-sideboard.png") 0 0 no-repeat;
}
.icons .sideboard.act, .icons .sideboard:hover {
  background: url("/media/assets/images/icons/icon-sideboard-hover.png") 0 0 no-repeat;
}
.icons .sideboard.ui-droppable-active {
  background: url("/media/assets/images/icons/icon-sideboard-dragtarget.png") 0 0 no-repeat;
}
.icons .onoffer {
  background: url("/media/assets/images/icons/icon-offer.png") 0 0 no-repeat;
}
.icons .onoffer.act, .icons .onoffer:hover {
  background: url("/media/assets/images/icons/icon-offer-hover.png") 0 0 no-repeat;
}
.icons .victory {
  background: url("/media/assets/images/icons/icon-crown.png") 0 0 no-repeat;
}
.icons .victory.act, .icons .victory:hover {
  background: url("/media/assets/images/icons/icon-crown-hover.png") 0 0 no-repeat;
}
.icons .hand {
  background: url("/media/assets/images/icons/icon-hand.png") 0 0 no-repeat;
}
.icons .hand.act, .icons .hand:hover {
  background: url("/media/assets/images/icons/icon-hand-hover.png") 0 0 no-repeat;
}
.icons .hand.ui-droppable-active {
  background: url("/media/assets/images/icons/icon-hand-dragtarget.png") 0 0 no-repeat;
}
.icons .playdeck {
  background: url("/media/assets/images/icons/icon-playdeck.png") 0 0 no-repeat;
}
.icons .playdeck.act, .icons .playdeck:hover {
  background: url("/media/assets/images/icons/icon-playdeck-hover.png") 0 0 no-repeat;
}
.icons .playdeck.ui-droppable-active {
  background: url("/media/assets/images/icons/icon-playdeck-dragtarget.png") 0 0 no-repeat;
}
.icons .playdeck-shuffle {
  background: url("/media/assets/images/icons/icon-playdeck-shuffle.png") 0 0 no-repeat;
}
.icons .playdeck-shuffle.act, .icons .playdeck-shuffle:hover {
  background: url("/media/assets/images/icons/icon-playdeck-shuffle-hover.png") 0 0 no-repeat;
}
.icons .discardpile.ui-droppable-active {
  background: url("/media/assets/images/icons/icon-discardpile-dragtarget.png") 0 0 no-repeat;
}

#playercard_hand_container a.discardpile:hover,
.icons a.discardpile.act,
.icons a.discardpile:hover {
  background: url("/media/assets/images/icons/icon-discardpile-hover.png") 0 0 no-repeat;
}

#playercard_hand_container a.discardpile,
.icons a.discardpile {
  background: url("/media/assets/images/icons/icon-discardpile.png") 0 0 no-repeat;
}

.player_selector i {
  margin-right: 5px;
  padding-left: 17px;
  font-style: normal;
}
.player_selector .player-handcard-count {
  background: url("/media/assets/images/icons/icon-hand-small.png") 0 0px no-repeat;
}
.player_selector .player-playdeck-count {
  background: url("/media/assets/images/icons/icon-playdeck-small.png") 0 0px no-repeat;
}
.player_selector .cur .player-handcard-count {
  background: url("/media/assets/images/icons/icon-hand-small-hover.png") 0 0px no-repeat;
}
.player_selector .cur .player-playdeck-count {
  background: url("/media/assets/images/icons/icon-playdeck-small-hover.png") 0 0px no-repeat;
}

.location-icon-image {
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 100;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 4px;
  opacity: 0.6;
  width: 16px;
  height: 16px;
  visibility: hidden;
}
.location-icon-image:hover {
  opacity: 1;
  color: #fff;
  background-color: #ffa500;
}

.company:hover .location-icon-image {
  visibility: visible;
}

.location-icon {
  top: 6px;
}

.location-underdeep {
  top: 30px;
  right: 43px;
}

.location-reveal {
  bottom: 10px;
}

.table {
  position: relative;
  width: 100%;
  height: 100%;
}
.table .area {
  display: table;
  width: 100%;
}
.table .area-player {
  position: relative;
  min-height: 30%;
}
.table .area-player.table-padding-bottom {
  padding-bottom: 170px;
}
.table .area-opponent {
  margin-bottom: 20px;
  position: relative;
  min-height: 30%;
}
.table .area-opponent .ui-draggable-dragging {
  transform: rotate(180deg);
}
.table .area-opponent .hiddenToOpponent,
.table .area-opponent .company-characters-add {
  display: none !important;
}
.table .area-opponent .tableCell {
  vertical-align: bottom;
}
.table .row {
  display: table-row;
  margin: 0 50px;
  height: 100%;
}
.table .row div.card {
  display: inline-block;
  max-width: 72px;
}
.table .row div.card.state_tapped {
  max-width: 100px;
}
.table .companies {
  display: table-cell;
  vertical-align: top;
  position: relative;
  text-align: center;
}
.table .tableCell {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
}

img.card-icon {
  background: url("/data/backside") 0 0 no-repeat;
  background-size: contain;
  border-radius: 5%;
}

.clear {
  float: none;
  clear: both;
}

.company-host,
.company {
  padding-right: 20px;
  height: 100%;
  min-width: 60px !important;
}

.card-bar {
  position: fixed;
  z-index: 100;
  bottom: 5px;
}
.card-bar a {
  text-align: center;
  color: white;
}
.card-bar a:hover {
  color: #ffa500;
}

.hand span,
.card-bar a span {
  padding: 1px;
  background: green;
  border-radius: 5px;
  margin-top: 8px;
  display: inline-block;
  margin-left: 15px;
  text-align: right;
  font-size: 11px;
}

.state_tapped img,
.state_tapped_fixed img,
.tapped {
  transform: rotate(270deg);
}

.rot180,
.state_wounded img,
.wounded {
  transform: rotate(180deg);
}

.rot270 {
  transform: rotate(90deg);
}

.state_rot270 img {
  transform: rotate(-90deg);
}

.card-hands {
  position: fixed;
  left: 55px;
  bottom: 5px;
  z-index: 400;
  padding: 5px;
  max-width: 90%;
  min-width: 480px;
  min-height: 84px;
}
.card-hands .card-generic,
.card-hands .card-hand {
  display: inline-block;
  position: relative;
}
.card-hands .card-draw {
  width: 100%;
}
.card-hands .hand-card-sizer {
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  font-size: 10px;
}
.card-hands .card-hand {
  cursor: move;
}
.card-hands .card-hand .draw {
  position: absolute;
  left: 9px;
  top: 13px;
  color: #ffa500;
  text-transform: uppercase;
  font-size: 12px;
}
.card-hands .card-hand:hover .draw {
  color: #ff0;
}
.card-hands .card-hand:hover img {
  opacity: 0.8;
}
.card-hands .card-hand.card-draw:hover img {
  opacity: 0.6;
}

.on-drag-event-generic #playercard_hand {
  z-index: 0;
  opacity: 0.7;
}

#view_card_list_container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  cursor: pointer;
}

.view-card-list-container {
  position: fixed;
  left: 15%;
  top: 15%;
  right: 15%;
  bottom: 15%;
  overflow-y: auto;
  padding: 15px;
  z-index: 1001;
}
.view-card-list-container .container-title-bar {
  padding-bottom: 10px;
  color: #ff0;
  font-size: 12px;
  cursor: default;
}
.view-card-list-container .container-title-bar .container-title-bar-shuffle {
  cursor: pointer;
  visibility: hidden;
}
.view-card-list-container .container-title-bar .container-title-bar-shuffle:hover {
  color: #ffa500;
}
.view-card-list-container img.card-icon {
  width: auto;
  height: 150px;
}
.view-card-list-container .card-hand {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  min-width: 107px;
  min-height: 153px;
}
.view-card-list-container .view-card-list-actions.icons {
  padding: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.view-card-list-container .view-card-list-actions a {
  width: 21px;
  height: 21px;
  display: inline-block;
  border-radius: 5px;
  background-position-y: 0 !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.view-card-list-container .card-list-number {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff0;
  color: #000;
  border-radius: 4px;
  padding: 0.3em;
}
.view-card-list-container a,
.view-card-list-container a:hover {
  background-size: contain !important;
}
.view-card-list-container.view-playdeck {
  cursor: default;
}
.view-card-list-container.view-playdeck .container-title-bar-shuffle {
  visibility: visible !important;
}
.view-card-list-container .icons a.onoffer {
  display: none;
}
.view-card-list-container.offered .icons a {
  display: none;
}
.view-card-list-container.offered .container-title-bar {
  visibility: hidden;
}
.view-card-list-container.offer .hideOnOffer {
  visibility: hidden;
}
.view-card-list-container.offer .icons a {
  display: inline-block;
}
.view-card-list-container.offer .icons a.hand, .view-card-list-container.offer .icons a.sideboard {
  display: none;
}
.view-card-list-container.offer img.card-icon {
  opacity: 0.4;
}
.view-card-list-container.offer img.on-offer-orevealed {
  opacity: 1;
}
.view-card-list-container.view-sideboard .card-hand a.sideboard, .view-card-list-container.view-hand.offer .card-hand a.hand, .view-card-list-container.view-discard .card-hand a.discardpile, .view-card-list-container.view-playdeck .card-hand a.playdeck, .view-card-list-container.view-playdeck .card-hand a.playdeck-shuffle {
  display: none;
}
.view-card-list-container.view-outofplay .container-title-bar-divider,
.view-card-list-container.view-outofplay .container-title-bar-reveal,
.view-card-list-container.view-outofplay .view-card-list-actions {
  display: none !important;
}

#view-score-sheet-card-list .container-data {
  padding: 10px;
}
#view-score-sheet-card-list .card-hand {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  min-width: 107px;
  min-height: 153px;
}

#playercard_hand_container {
  display: inline-block;
  margin-left: 60px;
  min-height: 83px;
  margin-right: 5px;
}
#playercard_hand_container a.discardpile,
#playercard_hand_container a.discardpile:hover {
  background-size: contain !important;
  background-position-x: 0px;
  background-position-y: 0px;
}
#playercard_hand_container a.discardpile {
  position: absolute;
  bottom: 5px;
  width: 20px;
  margin: 0;
  height: 20px;
  left: 25%;
}

/* COMPANY AREA */
.staging-area {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding-left: 55px;
  width: 25%;
}
.staging-area .staging-area-drop {
  display: none;
}
.staging-area.staging-area-opponent {
  padding: 20px 50px 0 0;
  text-align: right;
}
.staging-area .card {
  display: inline-block;
  margin-left: 2px;
}
.staging-area .card img.card-icon {
  width: auto;
}

.table-stage-stacking .staging-area {
  text-align: center;
}
.table-stage-stacking .staging-area-area {
  max-width: 95px;
  display: inline-block;
  vertical-align: top;
}
.table-stage-stacking .staging-area-area div.card {
  float: left;
  margin-top: -75px;
}
.table-stage-stacking .staging-area-area div.card:first-child {
  margin-top: 0;
}
.table-stage-stacking .staging-area-area::after {
  clear: both;
}

.companies {
  white-space: nowrap;
  flex: 1 79%;
}
.companies .emptyContainer {
  width: 300px;
  height: 100px;
  border: 2px dashed transparent;
}
.companies .sites .site-container {
  position: relative;
  display: inline-block;
}
.companies .sites .site-onguard {
  margin-left: -30px;
}
.companies .company {
  margin-right: 20px;
  border-radius: 20px;
  position: relative;
}
.companies .company:hover {
  background: rgba(255, 255, 255, 0.15);
}
.companies .company:hover .company-site-list {
  border-bottom: 3px dashed black;
}
.companies .company .company-character:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.companies .company .company-character:hover .character-card-dice {
  visibility: visible;
}
.companies .company .character-card-dice {
  position: absolute;
  left: 30px;
  bottom: 2px;
  width: 30px;
  height: 20px;
  background-size: contain;
  cursor: pointer;
  visibility: hidden;
}
.companies .company .company-site-list {
  min-height: 80px;
  padding: 5px;
  border-bottom: 3px dashed transparent;
}
.companies .company .company-site-list-border {
  position: absolute;
  bottom: -3px;
  left: 0px;
  height: 3px;
  width: 0px;
  background: #ffa500;
  display: none;
}
.companies .company.company-mark-current .company-site-list-border {
  display: inline-block;
  animation: company-moving-line 5s 10 forwards;
}
.companies .company .company-character {
  border: 3px dashed transparent;
}
.companies .company .company-characters-add {
  margin-left: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
}
.companies .create-new-company {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 60px !important;
  border: 3px dashed #000;
  border-radius: 5px;
  max-width: 60px !important;
  min-height: 270px;
  visibility: hidden;
}

@keyframes company-moving-line {
  from {
    width: 0%;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 0.6;
  }
}
body.on-drag-event-generic .area-player .company-character-host {
  z-index: 900;
}
body.on-drag-event-generic .card-hands {
  z-index: 100;
}
body.on-drag-event-character .area-player .company-characters-add {
  display: block;
  background-image: url(/media/assets/images/icon-company-join.png);
  background-repeat: no-repeat;
  background-position: center;
}
body.on-drag-event-character .area-player .create-new-company {
  background-image: url(/media/assets/images/icon-company-new.png);
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}
body.on-drag-event-character .area-player .company-character-influenced .company-character-host {
  background-color: transparent;
  border: 0px;
}
body.on-drag-event-site .area-player .company-characters-add {
  display: none;
}
body.on-drag-event-site .area-player .create-new-company {
  background-image: url(/media/assets/images/icon-company-new.png);
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
}
body.on-drag-event-site .area-player .company-character-influenced .company-character-host {
  background-color: transparent;
  border: 0px;
}
body.on-drag-event-hazard .staging-area-drop, body.on-drag-event-resource .staging-area-drop {
  display: block;
  position: absolute;
  left: 70px;
  right: 0;
  top: 0;
  height: 200px;
}
body.on-drag-event-hazard .staging-area-drop, body.on-drag-event-resource .staging-area-drop, body.on-drag-event-hazard .area-opponent .company-character-host, body.on-drag-event-hazard .area-opponent .site-regions, body.on-drag-event-generic .area-opponent .site-target, body.on-drag-event-generic .area-player .ui-droppable-active, body.on-drag-event-generic .card-bar .ui-droppable-active {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 3px dashed #000 !important;
  border-radius: 5px !important;
  z-index: 900;
}
body.on-drag-event-site .area-player .company-character-host .card img, body.on-drag-event-resource .area-player .company-character-host .card img, body.on-drag-event-character .area-player .company-character-host .card img {
  opacity: 0.7;
}

.zoom-1 .company-character-reosurces .card,
.zoom-2 .company-character-reosurces .card {
  margin-top: -105px;
}
.zoom-1 .card-hands .card-hand img.card-icon,
.zoom-1 .arda-card-hands .card-hand img.card-icon,
.zoom-2 .card-hands .card-hand img.card-icon,
.zoom-2 .arda-card-hands .card-hand img.card-icon {
  height: 80px !important;
}

.zoom-1 .company-site-list,
.zoom-1 img.card-icon {
  height: 130px;
}
.zoom-1 .staging-area {
  min-width: 100px;
  max-width: 170px;
}
.zoom-1 .table-stage-stacking .staging-area-area div.card {
  margin-top: -90px;
}
.zoom-1 .table-stage-stacking .staging-area-area div.card:first-child {
  margin-top: 0;
}
.zoom-1 .row div.card {
  max-width: 94px;
}
.zoom-1 .row div.card.state_tapped {
  max-width: 130px;
}
.zoom-1 .company-character-reosurces {
  min-height: 130px;
}
.zoom-1 .company-character-reosurces[data-stack-size="1"] {
  width: 110px;
}
.zoom-1 .company-character-reosurces[data-stack-size="2"] {
  width: 125px;
}
.zoom-1 .company-character-reosurces[data-stack-size="3"] {
  width: 140px;
}
.zoom-1 .company-character-reosurces[data-stack-size="4"] {
  width: 155px;
}
.zoom-1 .company-character-reosurces[data-stack-size="5"] {
  width: 170px;
}
.zoom-1 .company-character-reosurces[data-stack-size="6"] {
  width: 185px;
}
.zoom-1 .company-character-reosurces[data-stack-size="7"] {
  width: 200px;
}
.zoom-1 .company-character-reosurces[data-stack-size="8"] {
  width: 225px;
}
.zoom-1 .company-character-reosurces[data-stack-size="9"] {
  width: 240px;
}
.zoom-1 .company-character-reosurces[data-stack-size="10"] {
  width: 255px;
}
.zoom-1 .company-character-reosurces[data-stack-size="11"] {
  width: 270px;
}
.zoom-1 .company-character-reosurces[data-stack-size="12"] {
  width: 285px;
}

.zoom-2 .company-site-list,
.zoom-2 img.card-icon {
  height: 150px;
}

img.card-icon {
  height: 100px;
}

.company-character-reosurces {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.company-character-reosurces .card {
  margin-top: -80px;
  z-index: 101;
}
.company-character-reosurces .card:nth-child(1) {
  transform: translateX(0px) translateY(0px);
  margin-top: 0;
}
.company-character-reosurces .card:nth-child(2) {
  transform: translateX(15px);
}
.company-character-reosurces .card:nth-child(3) {
  transform: translateX(30px);
}
.company-character-reosurces .card:nth-child(4) {
  transform: translateX(45px);
}
.company-character-reosurces .card:nth-child(5) {
  transform: translateX(60px);
}
.company-character-reosurces .card:nth-child(6) {
  transform: translateX(75px);
}
.company-character-reosurces .card:nth-child(7) {
  transform: translateX(90px);
}
.company-character-reosurces .card:nth-child(8) {
  transform: translateX(105px);
}
.company-character-reosurces .card:nth-child(9) {
  transform: translateX(122px);
}
.company-character-reosurces .card:nth-child(10) {
  transform: translateX(137px);
}
.company-character-reosurces .card:nth-child(11) {
  transform: translateX(152px);
}
.company-character-reosurces .card:nth-child(12) {
  transform: translateX(167px);
}
.company-character-reosurces .card:nth-child(13) {
  transform: translateX(182px);
}
.company-character-reosurces .card:nth-child(14) {
  transform: translateX(197px);
}
.company-character-reosurces[data-stack-size="1"] {
  width: 87px;
}
.company-character-reosurces[data-stack-size="2"] {
  width: 102px;
}
.company-character-reosurces[data-stack-size="3"] {
  width: 117px;
}
.company-character-reosurces[data-stack-size="4"] {
  width: 132px;
}
.company-character-reosurces[data-stack-size="5"] {
  width: 147px;
}
.company-character-reosurces[data-stack-size="6"] {
  width: 162px;
}
.company-character-reosurces[data-stack-size="7"] {
  width: 177px;
}
.company-character-reosurces[data-stack-size="8"] {
  width: 192px;
}
.company-character-reosurces[data-stack-size="9"] {
  width: 207px;
}
.company-character-reosurces[data-stack-size="10"] {
  width: 222px;
}
.company-character-reosurces[data-stack-size="11"] {
  width: 237px;
}
.company-character-reosurces[data-stack-size="12"] {
  width: 252px;
}

.config-zoom {
  position: absolute;
  top: 100px !important;
  color: #fff;
  padding: 7px;
  display: none;
}

.company-character-reosurces,
.company-character-reosurces .card,
.company-character-host {
  position: relative;
  text-align: left;
}

.site-regions .card,
.site-onguard .card {
  display: inline-block;
  margin-left: -50px;
}

.site-regions .card:nth-child(1),
.site-onguard .card:nth-child(1) {
  margin-left: 0px;
}

.site-onguard .card {
  transform: rotate(180deg);
}

div.card img:hover {
  box-shadow: 0px 0px 10px 2px #ff0;
}

.card-dice {
  background: url("/media/assets/images/icons/icon-dices.png") 0 0 no-repeat;
}
.card-dice:hover {
  background: url("/media/assets/images/icons/icon-dices-hover.png") 0 0 no-repeat;
}

div#opponent_table .company {
  transform: rotate(180deg);
}

.hand-card-actions {
  width: 60px;
  position: fixed;
  bottom: 13px;
  height: 80px;
  overflow: hidden;
}

.card-generic.card-dice {
  display: inline-block;
  width: 60px;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
}

#draw_card {
  display: block;
  height: 40px;
  margin-top: 4px;
  background: url("/media/assets/images/icons/icon-draw.png") 0 0 no-repeat;
}
#draw_card:hover {
  background: url("/media/assets/images/icons/icon-draw-hover.png") 0 0 no-repeat;
}

.hosts_nothing {
  display: none !important;
}

#lidles-eye {
  z-index: 601;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
}
#lidles-eye img {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  animation: eyepulse 1s linear infinite;
}

@keyframes eyepulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#card_counter div.pos-rel {
  position: relative;
}
#card_counter div.pos-rel:hover .hidden {
  display: block;
}

.card-hands-sizer {
  display: inline;
  margin-left: 10px;
}
.card-hands-sizer i {
  color: #ffa500;
  font-weight: bold;
  padding: 0 5px;
}
.card-hands-sizer i:hover {
  cursor: pointer;
  color: #fff;
}
.card-hands-sizer .card-hands-sizer-size {
  font-weight: bold;
}

body.on-show-map-window .location-icon {
  display: none;
}

.smallCaps {
  font-variant-caps: small-caps;
}

@media only screen and (max-width: 1299px) {
  .area-player::after {
    content: "";
    display: block;
    min-height: 250px;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: black grey;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  border: 3px solid darkgrey;
}

.card-infobox {
  position: fixed;
  left: 100px;
  top: 100px;
}
.card-infobox.card-infobox-hidden {
  display: none;
}
.card-infobox .card-infobox-image {
  position: relative;
  height: 400px;
  max-height: 40%;
}
.card-infobox .card-infobox-image-animation::before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  content: " ";
  border-top: 3px solid #ffa500;
  animation: infobox-moving-line 2s 10 forwards;
}
.card-infobox img {
  height: 100%;
  border-radius: 5%;
}

@keyframes infobox-moving-line {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* playercard_hand */
div#table-dark {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
  z-index: 0;
}